img{
    border: 4px solid white ;
    border-radius: 15px;
}
body{
    background-color: #c2cea7;
    font-family: 'Montserrat', sans-serif;
}
main{
    max-width: 760px;
    margin: 0 auto;
}
.header {
    width: 100%;
    text-align: center;
}
.title {
    color: white;
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
}
.text-block{
    display: block;
    background-color: #88a78e;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-items: center;
}
.link-item{
    display: block;
    border: 1px solid black;
    border-left: 4px solid lightgreen;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #7a876f;
    color: white;
    font-weight: bold;
    transition: all 0.3 ease;
    align-items: center;
}
.link-item:hover{
    background-color: #5f6956;
    transform: translateY(-2px);
}
